body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background:linear-gradient(to right, #6a82fb, #fc5c7d)
}
.App { 
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

